/* rules */

#rulesSection{
    background-color: var(--backgroundNav);
    padding: 20px;
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  
  article dl dt,dd{
    margin-top: 20px;
  }