@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

:root {
  --backgroundColor: #77587e;
  --backgroundNav: #dad7cb;
}


body {
  background-color:var(--backgroundColor);
  font-family: 'Montserrat';
  padding-inline: 15vw;
}

h1 {
  color: #000000;
  text-align: center;
  margin: 0%;
  padding-left: 10px;
}

h2{
  margin: 0%;

}

#logoNav{
  width: 7%;
}

#divNav {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  margin: 0%;
  width: 40%;
}

nav {
  background-color: var(--backgroundNav);
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
}
nav a {
  text-decoration: none;
  font-size: 16x;
  font-weight: 500;
  margin-inline: 5px;
  
}
a:link {
  color: rgb(0, 0, 0);
}

a:visited {
  color: rgb(0, 0, 0);
}

a:hover {
  color: var(--backgroundColor);
}

a:active {
  color: lightblue;
}

.sectionHome {
  background-color: var(--backgroundNav);
  padding: 20px;
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.sectionHome{
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
}

.sectionHome aside, article{
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
}

.sectionHome h2{
  margin: 0%;
  
}

h3, p{
  margin: 5px;
}

.logo{
  width:30%
}

/* footer */

footer{
  margin-top: 20px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  background-color: var(--backgroundNav);
}

#img_1{
  width: 20%;
}

#img_2{
  width: 20%;
}

footer section{
  align-items:end;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

#social{
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-top: 20px;
}

#social a{
  margin-top: 30px;
}

footer p{
  margin-bottom: 20px;
}
